section.about{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(0) scale(1);
  animation: up 1s ease-in-out;
  .container{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    @media screen and (max-width:500px) {
      padding-bottom: 70px !important;
    }
    .text{
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      position: relative;
      @media screen and (max-width:415px) {
        h1{
          font-size: 3rem !important;
        }
        h4{
          font-size: 1.3rem !important;
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        background-color: var(--l1);
        opacity: .5;
      }
      h1{
        color: var(--l3);
        margin-top: 4.4rem;
        font-size: 3.5rem;
        text-transform: uppercase;
        span{
          color: var(--l2);
        }
      }
      h4{
        color: var(--l3);
        font-size: 1.6rem;
        text-transform: uppercase;
      }
      .bg-text{
        position: absolute;
        z-index: -1;
        h1{
          color: var(--l1);
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 4rem;
          margin-top: 3.8rem;
          color: var(--l4);
          user-select: none;
          -webkit-text-stroke: .2px var(--l3);
        }
      }
      p{
        color: var(--l3);
        width: 80%;
        line-height: 2rem;
        letter-spacing: 1.4px;
        margin-top: 1rem;
      }
    }
    .skills{
      margin-top: 2rem;
      h1{
        text-align: center;
        font-size: 2.5rem;
        color: var(--l3);
      }
      ul{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        justify-items: center;
        li{
          white-space: nowrap;
          text-transform: uppercase;
          color: var(--l3);
          width: 50%;
          padding: 1rem;
          margin: 1rem;
          text-align: center;
          background-color: var(--l4);
          border-radius: 20px;
          box-shadow: 0 0 10px var(--l1);
          transition: .3s;
          cursor: context-menu;
          &:hover{
            background-color: #454e56f1;
            color: #ffffff;
          }
        }
      }
    }
  }
}