<<<<<<< HEAD
header.home{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(0) scale(1);
  animation: up 1s ease-in-out;
  .container{
    max-width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    @media screen and (max-width:500px) {
      padding-bottom: 70px !important;
    }

    @media screen and (max-width:954px) {
      grid-template-columns: repeat(1,1fr);
      .polygon{
        display: none;
        }
    }
    .left-header{
      height: 100vh;
      position: relative;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width:954px) {
        order: 2;
        align-items: flex-start !important;
        height: 100%;
        .img{
          display: flex;
          justify-content: center;
          height: 100% !important;
          img{
            margin: 0 !important;
          }
        }
      }
      .img{
        max-width: 68%;
        height: 90%;
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
          user-select: none;
          object-fit: cover;
          margin-left: -4rem;
          box-shadow: 0 0 10px var(--l1);
          animation: img 3s infinite linear;
        }
      }
      .polygon{
        width: 50%;
        height: 100%;
        background-color: var(--l2);
        position: absolute;
        left: 0;
        clip-path: polygon(0 0 , 56% 0 , 90% 100%, 0 100%);
        transition: .5s;
        z-index: -1;
      }
    }
    .right-header{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-left: .5rem;
      @media screen and (max-width:1030px) and (min-width:955px) {
        h1{
          width: 88%;
        }
      }
      @media screen and (max-width:954px) {
        order: 1;
        align-items: center;
        padding: 6rem;
        h1{
          text-align: center;
          font-size: 40px !important;
        }
      }
      @media screen and (max-width:615px) {
        h1{
          text-align: center;
          font-size: 30px !important;
        }
        p{
          font-size: 15px;
        }
      }
      @media screen and (max-width:515px) {
        h1{
          text-align: center;
          font-size: 22px !important;
        }
        p{
          font-size: 12px;
        }
        a{
          font-size: 11px !important;
        }
        svg{
          padding: .5rem !important;
        }
      }
      @media screen and (max-width:350px) {
        padding: 1rem;
      }
      @media screen and (max-width:507px) {
        h1{
          font-size: 20px !important;
        }
        p{
          font-size: 12px !important;
        }
      }
      @media screen and (max-width:414px) {
        h1{
          font-size: 16px!important ;
        }
        p{
          font-size: 10px !important;
        }
        svg{
          padding: .2rem  !important;
        }
        a{
          font-size: 7px !important;
          white-space: nowrap;
        }
      }
      h1{
        font-size: 43px;
        color: var(--l1);
        span{
          color: var(--l2);
        }
      }
      p{
        color: var(--l1);
        font-size: 20px;
      }
      .save{
        margin-top: 20px;
        background-color: transparent;
        border: 2px solid var(--l2);
        border-radius: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &::before{
          content: '';
          position: absolute;
          width: 0%;
          height: 100%;
          border-radius: 30px;
          right: 0;
          background-color: var(--l2);
          transition: width .5s ease;
          z-index: -1;
        }
        &:hover::before{
          width: 100%;
        }
        a{
          color: var(--l3);
          letter-spacing: 2px;
          font-size: 20px;
          padding: 0 2rem;
        }
        svg{
          background-color: var(--l2);
          color: var(--l3);
          padding: 1rem;
          border-radius: 50%;
          padding: 1rem;
          font-size: 20px;
        }
      }
    }
  }
=======
header.home{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(0) scale(1);
  animation: up 1s ease-in-out;
  .container{
    max-width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    @media screen and (max-width:500px) {
      padding-bottom: 70px !important;
    }

    @media screen and (max-width:954px) {
      grid-template-columns: repeat(1,1fr);
      .polygon{
        display: none;
        }
    }
    .left-header{
      height: 100vh;
      position: relative;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width:954px) {
        order: 2;
        align-items: flex-start !important;
        height: 100%;
        .img{
          display: flex;
          justify-content: center;
          height: 100% !important;
          img{
            margin: 0 !important;
          }
        }
      }
      .img{
        max-width: 68%;
        height: 90%;
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
          user-select: none;
          object-fit: cover;
          margin-left: -4rem;
          box-shadow: 0 0 10px var(--l1);
          animation: img 3s infinite linear;
        }
      }
      .polygon{
        width: 50%;
        height: 100%;
        background-color: var(--l2);
        position: absolute;
        left: 0;
        clip-path: polygon(0 0 , 56% 0 , 90% 100%, 0 100%);
        transition: .5s;
        z-index: -1;
      }
    }
    .right-header{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-left: .5rem;
      @media screen and (max-width:1030px) and (min-width:955px) {
        h1{
          width: 88%;
        }
      }
      @media screen and (max-width:954px) {
        order: 1;
        align-items: center;
        padding: 6rem;
        h1{
          text-align: center;
          font-size: 40px !important;
        }
      }
      @media screen and (max-width:615px) {
        h1{
          text-align: center;
          font-size: 30px !important;
        }
        p{
          font-size: 15px;
        }
      }
      @media screen and (max-width:515px) {
        h1{
          text-align: center;
          font-size: 22px !important;
        }
        p{
          font-size: 12px;
        }
        a{
          font-size: 11px !important;
        }
        svg{
          padding: .5rem !important;
        }
      }
      @media screen and (max-width:350px) {
        padding: 1rem;
      }
      @media screen and (max-width:507px) {
        h1{
          font-size: 20px !important;
        }
        p{
          font-size: 12px !important;
        }
      }
      @media screen and (max-width:414px) {
        h1{
          font-size: 16px!important ;
        }
        p{
          font-size: 10px !important;
        }
        svg{
          padding: .2rem  !important;
        }
        a{
          font-size: 7px !important;
          white-space: nowrap;
        }
      }
      h1{
        font-size: 43px;
        color: var(--l1);
        span{
          color: var(--l2);
        }
      }
      p{
        color: var(--l1);
        font-size: 20px;
      }
      .save{
        margin-top: 20px;
        background-color: transparent;
        border: 2px solid var(--l2);
        border-radius: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &::before{
          content: '';
          position: absolute;
          width: 0%;
          height: 100%;
          border-radius: 30px;
          right: 0;
          background-color: var(--l2);
          transition: width .5s ease;
          z-index: -1;
        }
        &:hover::before{
          width: 100%;
        }
        a{
          color: var(--l3);
          letter-spacing: 2px;
          font-size: 20px;
          padding: 0 2rem;
        }
        svg{
          background-color: var(--l2);
          color: var(--l3);
          padding: 1rem;
          border-radius: 50%;
          padding: 1rem;
          font-size: 20px;
        }
      }
    }
  }
>>>>>>> f229ba40a7ba7f225851aedb31877e072f9046bb
}