<<<<<<< HEAD
section.portfolio{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(0) scale(1);
  animation: up 1s ease-in-out;
  .container{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    @media screen and (max-width:500px) {
      padding-bottom: 70px !important;
    }
    .text{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      @media screen and (max-width:450px) {
        h1{
          font-size: 3rem !important;
        }
      }
      @media screen and (max-width:380px) {
        h1{
          font-size: 2.5rem !important;
        }
      }
      @media screen and (max-width:310px) {
        h1{
          font-size: 2rem !important;
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        background-color: var(--l1);
        opacity: .5;
      }
      h1{
        color: var(--l3);
        margin-top: 4.4rem;
        font-size: 3.5rem;
        text-transform: uppercase;
        span{
          color: var(--l2);
        }
      }
      h4{
        color: var(--l3);
        font-size: .9rem;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width:655px) {
          font-size: .7rem;
        }
      }
      .bg-text{
        position: absolute;
        z-index: -1;
        h1{
          color: var(--l1);
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 4rem;
          margin-top: 3.8rem;
          color: var(--l4);
          user-select: none;
          -webkit-text-stroke: .2px var(--l3);
        }
      }
    }
    .projects{
      margin-top: 2rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
      @media screen and (max-width:280px) {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      }
      padding-bottom: 2rem;
      gap: 1rem;
      .item{
        width: 100%;
        height: 100%;
        position: relative;
        border: 2px solid var(--l3);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
          max-width: 100%;
          object-fit: cover;
          user-select: none;
          border-radius: 10px;
        }
        &:hover > .view{
          transform: translateX(0);
        }
        .view{
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          border-radius: 10px;
          background-color: var(--l2);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(-100%);
          transition: .3s;
          a{
            margin: 0 1rem;
            color: var(--l1);
            border: 2px solid var(--l4);
            padding: 1rem;
            border-radius: 20px;
            transition: .3s;
            &:hover {
              background-color: var(--l4);
              color: var(--l3);
            }
          }
        }
      }
    }
  }
=======
section.portfolio{
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(0) scale(1);
  animation: up 1s ease-in-out;
  .container{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    @media screen and (max-width:500px) {
      padding-bottom: 70px !important;
    }
    .text{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      @media screen and (max-width:450px) {
        h1{
          font-size: 3rem !important;
        }
      }
      @media screen and (max-width:380px) {
        h1{
          font-size: 2.5rem !important;
        }
      }
      @media screen and (max-width:310px) {
        h1{
          font-size: 2rem !important;
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        background-color: var(--l1);
        opacity: .5;
      }
      h1{
        color: var(--l3);
        margin-top: 4.4rem;
        font-size: 3.5rem;
        text-transform: uppercase;
        span{
          color: var(--l2);
        }
      }
      h4{
        color: var(--l3);
        font-size: .9rem;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width:655px) {
          font-size: .7rem;
        }
      }
      .bg-text{
        position: absolute;
        z-index: -1;
        h1{
          color: var(--l1);
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size: 4rem;
          margin-top: 3.8rem;
          color: var(--l4);
          user-select: none;
          -webkit-text-stroke: .2px var(--l3);
        }
      }
    }
    .projects{
      margin-top: 2rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
      @media screen and (max-width:280px) {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      }
      padding-bottom: 2rem;
      gap: 1rem;
      .item{
        width: 100%;
        height: 100%;
        position: relative;
        border: 2px solid var(--l3);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
          max-width: 100%;
          object-fit: cover;
          user-select: none;
          border-radius: 10px;
        }
        &:hover > .view{
          transform: translateX(0);
        }
        .view{
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          border-radius: 10px;
          background-color: var(--l2);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(-100%);
          transition: .3s;
          a{
            margin: 0 1rem;
            color: var(--l1);
            border: 2px solid var(--l4);
            padding: 1rem;
            border-radius: 20px;
            transition: .3s;
            &:hover {
              background-color: var(--l4);
              color: var(--l3);
            }
          }
        }
      }
    }
  }
>>>>>>> f229ba40a7ba7f225851aedb31877e072f9046bb
}