<<<<<<< HEAD
@use './animation' as *;
// animtaion image
@include animation(img){
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
}
// animtaion page
@include animation(up){
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0) scale(1);
  }
=======
@use './animation' as *;
// animtaion image
@include animation(img){
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
}
// animtaion page
@include animation(up){
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0) scale(1);
  }
>>>>>>> f229ba40a7ba7f225851aedb31877e072f9046bb
}