<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
>>>>>>> f229ba40a7ba7f225851aedb31877e072f9046bb
}