<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --l1:#454E56;
  --l2:#8ACDD7;
  --l3:#6C7983;
  --l4:#F8F8F8;
  background-color: #eee;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark {
  --l1:#454E56;
  --l2:#27AE60;
  --l3:#ffffff;
  --l4:#2a2e35;
  background-color: #191D2B;
}

header.home {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
header.home .container {
  max-width: 1200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 500px) {
  header.home .container {
    padding-bottom: 70px !important;
  }
}
@media screen and (max-width: 954px) {
  header.home .container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  header.home .container .polygon {
    display: none;
  }
}
header.home .container .left-header {
  height: 100vh;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 954px) {
  header.home .container .left-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    height: 100%;
  }
  header.home .container .left-header .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100% !important;
  }
  header.home .container .left-header .img img {
    margin: 0 !important;
  }
}
header.home .container .left-header .img {
  max-width: 68%;
  height: 90%;
}
header.home .container .left-header .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -4rem;
  -webkit-box-shadow: 0 0 10px var(--l1);
          box-shadow: 0 0 10px var(--l1);
  -webkit-animation: img 3s infinite linear;
          animation: img 3s infinite linear;
}
header.home .container .left-header .polygon {
  width: 50%;
  height: 100%;
  background-color: var(--l2);
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 0, 56% 0, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 56% 0, 90% 100%, 0 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
header.home .container .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.5rem;
}
@media screen and (max-width: 1030px) and (min-width: 955px) {
  header.home .container .right-header h1 {
    width: 88%;
  }
}
@media screen and (max-width: 954px) {
  header.home .container .right-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem;
  }
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 40px !important;
  }
}
@media screen and (max-width: 615px) {
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 30px !important;
  }
  header.home .container .right-header p {
    font-size: 15px;
  }
}
@media screen and (max-width: 515px) {
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 22px !important;
  }
  header.home .container .right-header p {
    font-size: 12px;
  }
  header.home .container .right-header a {
    font-size: 11px !important;
  }
  header.home .container .right-header svg {
    padding: 0.5rem !important;
  }
}
@media screen and (max-width: 350px) {
  header.home .container .right-header {
    padding: 1rem;
  }
}
@media screen and (max-width: 507px) {
  header.home .container .right-header h1 {
    font-size: 20px !important;
  }
  header.home .container .right-header p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 414px) {
  header.home .container .right-header h1 {
    font-size: 16px !important;
  }
  header.home .container .right-header p {
    font-size: 10px !important;
  }
  header.home .container .right-header svg {
    padding: 0.2rem !important;
  }
  header.home .container .right-header a {
    font-size: 7px !important;
    white-space: nowrap;
  }
}
header.home .container .right-header h1 {
  font-size: 43px;
  color: var(--l1);
}
header.home .container .right-header h1 span {
  color: var(--l2);
}
header.home .container .right-header p {
  color: var(--l1);
  font-size: 20px;
}
header.home .container .right-header .save {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid var(--l2);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
header.home .container .right-header .save::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  right: 0;
  background-color: var(--l2);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: -1;
}
header.home .container .right-header .save:hover::before {
  width: 100%;
}
header.home .container .right-header .save a {
  color: var(--l3);
  letter-spacing: 2px;
  font-size: 20px;
  padding: 0 2rem;
}
header.home .container .right-header .save svg {
  background-color: var(--l2);
  color: var(--l3);
  padding: 1rem;
  border-radius: 50%;
  padding: 1rem;
  font-size: 20px;
}

section.about {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.about .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.about .container {
    padding-bottom: 70px !important;
  }
}
section.about .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}
@media screen and (max-width: 415px) {
  section.about .container .text h1 {
    font-size: 3rem !important;
  }
  section.about .container .text h4 {
    font-size: 1.3rem !important;
  }
}
section.about .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.about .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.about .container .text h1 span {
  color: var(--l2);
}
section.about .container .text h4 {
  color: var(--l3);
  font-size: 1.6rem;
  text-transform: uppercase;
}
section.about .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.about .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.about .container .text p {
  color: var(--l3);
  width: 80%;
  line-height: 2rem;
  letter-spacing: 1.4px;
  margin-top: 1rem;
}
section.about .container .skills {
  margin-top: 2rem;
}
section.about .container .skills h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--l3);
}
section.about .container .skills ul {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}
section.about .container .skills ul li {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--l3);
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: var(--l4);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px var(--l1);
          box-shadow: 0 0 10px var(--l1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: context-menu;
}
section.about .container .skills ul li:hover {
  background-color: rgba(69, 78, 86, 0.9450980392);
  color: #ffffff;
}

section.portfolio {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.portfolio .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.portfolio .container {
    padding-bottom: 70px !important;
  }
}
section.portfolio .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 450px) {
  section.portfolio .container .text h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 380px) {
  section.portfolio .container .text h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 310px) {
  section.portfolio .container .text h1 {
    font-size: 2rem !important;
  }
}
section.portfolio .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.portfolio .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.portfolio .container .text h1 span {
  color: var(--l2);
}
section.portfolio .container .text h4 {
  color: var(--l3);
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 655px) {
  section.portfolio .container .text h4 {
    font-size: 0.7rem;
  }
}
section.portfolio .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.portfolio .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.portfolio .container .projects {
  margin-top: 2rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding-bottom: 2rem;
  gap: 1rem;
}
@media screen and (max-width: 280px) {
  section.portfolio .container .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
section.portfolio .container .projects .item {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid var(--l3);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
section.portfolio .container .projects .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
}
section.portfolio .container .projects .item:hover > .view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
section.portfolio .container .projects .item .view {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: var(--l2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.portfolio .container .projects .item .view a {
  margin: 0 1rem;
  color: var(--l1);
  border: 2px solid var(--l4);
  padding: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.portfolio .container .projects .item .view a:hover {
  background-color: var(--l4);
  color: var(--l3);
}

section.contact {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.contact .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.contact .container {
    padding-bottom: 70px !important;
  }
}
section.contact .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 450px) {
  section.contact .container .text h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 380px) {
  section.contact .container .text h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 310px) {
  section.contact .container .text h1 {
    font-size: 2rem !important;
  }
}
section.contact .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.contact .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.contact .container .text h1 span {
  color: var(--l2);
}
section.contact .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.contact .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.contact .container .info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .container .info .item {
  width: 80%;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 350px) {
  section.contact .container .info .item {
    padding: 2rem 0 !important;
  }
}
section.contact .container .info .item span {
  color: var(--l2);
}
section.contact .container .info .item span bdi {
  color: var(--l1);
}
section.contact .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}
section.contact .container .social li {
  margin: 0 1.3rem;
}
section.contact .container .social li a {
  color: var(--l1);
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.contact .container .social li a:hover {
  color: var(--l2);
}

.menu-links {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
  background-color: var(--l1);
}
@media screen and (min-width: 500px) {
  .menu-links {
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
}
.menu-links a {
  width: 50px;
  height: 50px;
  color: var(--l3);
  border-radius: 50%;
  background-color: var(--l1);
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .menu-links a {
    margin: 10px 0;
  }
}
.menu-links a.active {
  background-color: var(--l2);
}
.menu-links a.active li {
  color: var(--l3);
}
.menu-links a:hover:not(.active) {
  background-color: rgba(69, 78, 86, 0.9450980392);
}
.menu-links a li {
  color: var(--l3);
}

button.themes {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--l1);
  color: var(--l3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@-webkit-keyframes img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
::-moz-selection {
  background-color: var(--l1);
  color: var(--l2);
}
::selection {
  background-color: var(--l1);
  color: var(--l2);
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --l1:#454E56;
  --l2:#8ACDD7;
  --l3:#6C7983;
  --l4:#F8F8F8;
  background-color: #eee;
}

body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body.dark {
  --l1:#454E56;
  --l2:#27AE60;
  --l3:#ffffff;
  --l4:#2a2e35;
  background-color: #191D2B;
}

header.home {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
header.home .container {
  max-width: 1200px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 500px) {
  header.home .container {
    padding-bottom: 70px !important;
  }
}
@media screen and (max-width: 954px) {
  header.home .container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  header.home .container .polygon {
    display: none;
  }
}
header.home .container .left-header {
  height: 100vh;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 954px) {
  header.home .container .left-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    height: 100%;
  }
  header.home .container .left-header .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100% !important;
  }
  header.home .container .left-header .img img {
    margin: 0 !important;
  }
}
header.home .container .left-header .img {
  max-width: 68%;
  height: 90%;
}
header.home .container .left-header .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -4rem;
  -webkit-box-shadow: 0 0 10px var(--l1);
          box-shadow: 0 0 10px var(--l1);
  -webkit-animation: img 3s infinite linear;
          animation: img 3s infinite linear;
}
header.home .container .left-header .polygon {
  width: 50%;
  height: 100%;
  background-color: var(--l2);
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 0, 56% 0, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 56% 0, 90% 100%, 0 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
header.home .container .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.5rem;
}
@media screen and (max-width: 1030px) and (min-width: 955px) {
  header.home .container .right-header h1 {
    width: 88%;
  }
}
@media screen and (max-width: 954px) {
  header.home .container .right-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem;
  }
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 40px !important;
  }
}
@media screen and (max-width: 615px) {
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 30px !important;
  }
  header.home .container .right-header p {
    font-size: 15px;
  }
}
@media screen and (max-width: 515px) {
  header.home .container .right-header h1 {
    text-align: center;
    font-size: 22px !important;
  }
  header.home .container .right-header p {
    font-size: 12px;
  }
  header.home .container .right-header a {
    font-size: 11px !important;
  }
  header.home .container .right-header svg {
    padding: 0.5rem !important;
  }
}
@media screen and (max-width: 350px) {
  header.home .container .right-header {
    padding: 1rem;
  }
}
@media screen and (max-width: 507px) {
  header.home .container .right-header h1 {
    font-size: 20px !important;
  }
  header.home .container .right-header p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 414px) {
  header.home .container .right-header h1 {
    font-size: 16px !important;
  }
  header.home .container .right-header p {
    font-size: 10px !important;
  }
  header.home .container .right-header svg {
    padding: 0.2rem !important;
  }
  header.home .container .right-header a {
    font-size: 7px !important;
    white-space: nowrap;
  }
}
header.home .container .right-header h1 {
  font-size: 43px;
  color: var(--l1);
}
header.home .container .right-header h1 span {
  color: var(--l2);
}
header.home .container .right-header p {
  color: var(--l1);
  font-size: 20px;
}
header.home .container .right-header .save {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid var(--l2);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
header.home .container .right-header .save::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  right: 0;
  background-color: var(--l2);
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: -1;
}
header.home .container .right-header .save:hover::before {
  width: 100%;
}
header.home .container .right-header .save a {
  color: var(--l3);
  letter-spacing: 2px;
  font-size: 20px;
  padding: 0 2rem;
}
header.home .container .right-header .save svg {
  background-color: var(--l2);
  color: var(--l3);
  padding: 1rem;
  border-radius: 50%;
  padding: 1rem;
  font-size: 20px;
}

section.about {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.about .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.about .container {
    padding-bottom: 70px !important;
  }
}
section.about .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}
@media screen and (max-width: 415px) {
  section.about .container .text h1 {
    font-size: 3rem !important;
  }
  section.about .container .text h4 {
    font-size: 1.3rem !important;
  }
}
section.about .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.about .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.about .container .text h1 span {
  color: var(--l2);
}
section.about .container .text h4 {
  color: var(--l3);
  font-size: 1.6rem;
  text-transform: uppercase;
}
section.about .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.about .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.about .container .text p {
  color: var(--l3);
  width: 80%;
  line-height: 2rem;
  letter-spacing: 1.4px;
  margin-top: 1rem;
}
section.about .container .skills {
  margin-top: 2rem;
}
section.about .container .skills h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--l3);
}
section.about .container .skills ul {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}
section.about .container .skills ul li {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--l3);
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: var(--l4);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px var(--l1);
          box-shadow: 0 0 10px var(--l1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: context-menu;
}
section.about .container .skills ul li:hover {
  background-color: rgba(69, 78, 86, 0.9450980392);
  color: #ffffff;
}

section.portfolio {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.portfolio .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.portfolio .container {
    padding-bottom: 70px !important;
  }
}
section.portfolio .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 450px) {
  section.portfolio .container .text h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 380px) {
  section.portfolio .container .text h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 310px) {
  section.portfolio .container .text h1 {
    font-size: 2rem !important;
  }
}
section.portfolio .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.portfolio .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.portfolio .container .text h1 span {
  color: var(--l2);
}
section.portfolio .container .text h4 {
  color: var(--l3);
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 655px) {
  section.portfolio .container .text h4 {
    font-size: 0.7rem;
  }
}
section.portfolio .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.portfolio .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.portfolio .container .projects {
  margin-top: 2rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding-bottom: 2rem;
  gap: 1rem;
}
@media screen and (max-width: 280px) {
  section.portfolio .container .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
section.portfolio .container .projects .item {
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px solid var(--l3);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
section.portfolio .container .projects .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
}
section.portfolio .container .projects .item:hover > .view {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
section.portfolio .container .projects .item .view {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-color: var(--l2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.portfolio .container .projects .item .view a {
  margin: 0 1rem;
  color: var(--l1);
  border: 2px solid var(--l4);
  padding: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.portfolio .container .projects .item .view a:hover {
  background-color: var(--l4);
  color: var(--l3);
}

section.contact {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: up 1s ease-in-out;
          animation: up 1s ease-in-out;
}
section.contact .container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section.contact .container {
    padding-bottom: 70px !important;
  }
}
section.contact .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 450px) {
  section.contact .container .text h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 380px) {
  section.contact .container .text h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 310px) {
  section.contact .container .text h1 {
    font-size: 2rem !important;
  }
}
section.contact .container .text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: var(--l1);
  opacity: 0.5;
}
section.contact .container .text h1 {
  color: var(--l3);
  margin-top: 4.4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
section.contact .container .text h1 span {
  color: var(--l2);
}
section.contact .container .text .bg-text {
  position: absolute;
  z-index: -1;
}
section.contact .container .text .bg-text h1 {
  color: var(--l1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 3.8rem;
  color: var(--l4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke: 0.2px var(--l3);
}
section.contact .container .info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .container .info .item {
  width: 80%;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 350px) {
  section.contact .container .info .item {
    padding: 2rem 0 !important;
  }
}
section.contact .container .info .item span {
  color: var(--l2);
}
section.contact .container .info .item span bdi {
  color: var(--l1);
}
section.contact .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}
section.contact .container .social li {
  margin: 0 1.3rem;
}
section.contact .container .social li a {
  color: var(--l1);
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section.contact .container .social li a:hover {
  color: var(--l2);
}

.menu-links {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
  background-color: var(--l1);
}
@media screen and (min-width: 500px) {
  .menu-links {
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
}
.menu-links a {
  width: 50px;
  height: 50px;
  color: var(--l3);
  border-radius: 50%;
  background-color: var(--l1);
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 500px) {
  .menu-links a {
    margin: 10px 0;
  }
}
.menu-links a.active {
  background-color: var(--l2);
}
.menu-links a.active li {
  color: var(--l3);
}
.menu-links a:hover:not(.active) {
  background-color: rgba(69, 78, 86, 0.9450980392);
}
.menu-links a li {
  color: var(--l3);
}

button.themes {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--l1);
  color: var(--l3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@-webkit-keyframes img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
::-moz-selection {
  background-color: var(--l1);
  color: var(--l2);
}
::selection {
  background-color: var(--l1);
  color: var(--l2);
}
>>>>>>> f229ba40a7ba7f225851aedb31877e072f9046bb
/*# sourceMappingURL=index.css.map */